# SQLite3
*.sqlite3
*.db

# macOS
.DS_Store
.localized

# Python
__pycache__/

# Secrets
.env*
service_account_key*.json

# Logs
*.log

### Spring Boot ###
HELP.md

### Java ###
*.class

# Package Files #
*.jar
*.war
*.ear

### Gradle ###
.gradle
build/

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# Xcode
xcuserdata/
