annotated-types==0.7.0
asgiref==3.8.1
camel-converter==4.0.1
certifi==2024.8.30
charset-normalizer==3.4.0
Django==4.2.16
django-meili==0.0.6
hiredis==2.4.0
idna==3.10
meilisearch==0.31.5
psycopg==3.2.3
psycopg-binary==3.2.3
psycopg-pool==3.2.3
pydantic==2.9.2
pydantic_core==2.23.4
python-dotenv==1.0.1
redis==3.5.3
redisearch==2.1.1
rejson==0.5.6
requests==2.32.3
setuptools==75.1.0
six==1.16.0
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
